.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}
.scape{
  display: none;
}

@media all and (orientation : landscape) {/*　　这是匹配横屏的状态，横屏时的css代码　　*/
  .App-header  { 
    background:rgba(0,0,0,50%)
  } 
  .scape{
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    width:100px;
    height:100px;
    transform:translate(-50%,-50%);
    animation: scape-img infinite 1s linear;
    animation-direction:alternate
  }
  @keyframes scape-img {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }
} 